<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>systemmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27FDC78B1F0E24C70016D57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FDC7A41F0E24C70016D57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FDC7AF1F0E24C70016D57C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
